.add-user-box{
  display: flex;
  justify-content: flex-end;
  padding: 30px 5px 30px 20px;
}
.user-tabel-box{
  width: calc(100% - 40px);
  margin: 0 20px;
  border-left: 1px solid #EBEEF5;
  border-top: 1px solid #EBEEF5;
}









